* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin:50px auto;
  display: flex;
}

.main-block {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}

.main-block:last-child {
  margin-right: 0;
}

.visual {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.visual1 {
  background-image: url(img/flow01.png);
}

.visual2 {
  background-image: url(img/flow02.png);
}

.visual3 {
  background-image: url(img/flow03.png);
}

.step-num {
  font-size: 12px;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  background-color: #FF9A4B;
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
}

.text {
  font-size: 12px;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}